{% load sushi_extras %}

<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}My Delivery{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
    </head>

    <body>
        {% block content %}
            {% if orders %}
                {% for order in orders %}
                    <table border="1" bordercolor="lightblue" style="margin: 10px">
                        <tr>
                            <td>№ заказа</td>
                            <td>{{ order.id}}</td>
                        </tr>
                            <td>Статус заказа</td>
                            <td>{{ order.status | order_status_to_string }}</td>
                        <tr>
                        </tr>
                            <td>Адрес кафе</td>
                            <td>{{ order.point.point_address }}</td>
                        <tr>
                            <td>Курьер</td>
                            <td>{{ order.deliveryman.first_name }} {{ order.deliveryman.last_name }}</td>
                        </tr>
                        <tr>
                            <td>Заказ сделан</td>
                            <td>{{ order.date_created }}</td>
                        </tr>
                        <tr>
                            <td>Клиент</td>
                            <td>{{ order.customer.user_name }} {{ order.customer.user_phone }}</td>
                        </tr>
                        <tr>
                            <td>Адрес</td>
                            <td>{{ order.customer.user_address }}</td>
                        </tr>
                        <tr>
                            <td>Сумма заказа</td>
                            <td>{{ order.sum_order }} рублей</td>
                        </tr>
                        <tr>
                            <td>Комментарий к заказу</td>
                            <td>{{ order.comment }}</td>
                        </tr>
                    </table>
                {% endfor %}
            {% else %}
                <p>В данный момент нет заказов.</p>
            {% endif %}
        {% endblock %}
    </body>