{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}My Sushi{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="{% static 'sushi/bootstrap/bootstrap.css' %}" rel="stylesheet">
    <style type="text/css">
      body {
        background: no-repeat;
        background-image: url("http://www.susirai.ru/files/template/sushirai/bg.jpg");
        background-attachment: fixed;
        font-family: 'Helvetica', 'Arial', sans-serif;
        padding-top: 60px;
        padding-bottom: 40px;
        padding-left: 5%;
        padding-right: 5%;
      }
      .sidebar-nav {
        padding: 9px 0;
      }

      .info-block {
        background-color: rgba(254, 248, 226, 0.8);
      }

      @media (max-width: 980px) {
        /* Enable use of floated navbar text */
        .navbar-text.pull-right {
          float: none;
          padding-left: 5px;
          padding-right: 5px;
        }
      }
    </style>
    <link href="{% static 'sushi/bootstrap/bootstrap-responsive.css' %}" rel="stylesheet">

    {% block styles %}
    {% endblock %}

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="/wp-content/themes/clear-theme/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/wp-content/themes/clear-theme/img/apple-touch-icon-144-precomposed.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/wp-content/themes/clear-theme/img/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/wp-content/themes/clear-theme/img/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="/wp-content/themes/clear-theme/img/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="/wp-content/themes/clear-theme/img/favicon.png">
  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          {% block main_menu %}
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/">Суши White</a>
          <div class="nav-collapse collapse">
            <p class="navbar-text pull-right">
              <a href="/korzina" class="navbar-link">Корзина</a>
            </p>
            <ul class="nav">
              <li><a href="/promo">Акции</a></li>
              <li><a href="/cards">Скидочные карты</a></li>
              <li><a href="/delivery_zone">Зоны доставки</a></li>
              <li><a href="/contact">Контакты</a></li>
            </ul>
          </div><!--/.nav-collapse -->
          {% endblock %}
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span2">
          {% block sidebar %}
          <div class="thumbnail info-block sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header"><a href="/menu/sushi">Суши</a></li>
              <li><a href="#">Классические суши</a></li>
              <li><a href="#">Острые суши</a></li>
              <li><a href="#">Запеченные суши</a></li>
              <li><a href="#">Маасдам суши</a></li>
              <li class="nav-header"><a href="/menu/rolls">Роллы</a></li>
              <li><a href="#">Классические роллы</a></li>
              <li><a href="#">Роллы маасдам</a></li>
              <li><a href="#">Запеченные роллы</a></li>
              <li><a href="#">Острые роллы</a></li>
              <li><a href="#">Маки</a></li>
              <li><a href="#">Ручные роллы</a></li>
              <li class="nav-header"><a href="/menu/sets">Сеты</a></li>
              <li class="nav-header"><a href="/menu/sashimi">Сашими</a></li>
              <li class="nav-header"><a href="#">Wok</a></li>
              <li class="nav-header"><a href="/menu/soup">Супы</a></li>
              <li class="nav-header"><a href="/menu/hot_dishes">Горячие блюда</a></li>
              <li class="nav-header"><a href="/menu/salad">Салаты</a></li>
              <li class="nav-header"><a href="/menu/dessert">Десерты</a></li>
              <li class="nav-header"><a href="/menu/drink">Напитки</a></li>
            </ul>
          </div><!--/.well -->
          {% endblock %}
        </div><!--/span-->
        <div class="span10">
          <div class="hero-unit info-block">
            {% block description %}
            {% endblock %}
          </div>
          {% block content_one %}
          {% endblock %}
        </div><!--/span-->
      </div><!--/row-->

      <hr>

      <footer>
        <p>&copy; Kristina Khazieva 2018</p>
      </footer>

    </div><!--/.fluid-container-->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'sushi/bootstrap/jquery.js' %}"></script>
    <script src="{% static 'sushi/bootstrap/bootstrap-transition.js' %}"></script>
    <script src="{% static 'sushi/bootstrap/bootstrap-alert.js' %}"></script>
    <script src="{% static 'sushi/bootstrap/bootstrap-modal.js' %}"></script>
    <script src="{% static 'sushi/bootstrap/bootstrap-dropdown.js' %}"></script>
    <script src="{% static 'sushi/bootstrap/bootstrap-scrollspy.js' %}"></script>
    <script src="{% static 'sushi/bootstrap/bootstrap-tab.js' %}"></script>
    <script src="{% static 'sushi/bootstrap/bootstrap-tooltip.js' %}"></script>
    <script src="{% static 'sushi/bootstrap/bootstrap-popover.js' %}"></script>
    <script src="{% static 'sushi/bootstrap/bootstrap-button.js' %}"></script>
    <script src="{% static 'sushi/bootstrap/bootstrap-collapse.js' %}"></script>
    <script src="{% static 'sushi/bootstrap/bootstrap-carousel.js' %}"></script>
    <script src="{% static 'sushi/bootstrap/bootstrap-typeahead.js' %}"></script>

  </body>
</html>
