{% extends "sushi/base.html" %}
{% load staticfiles %}

{% block description %}
<h1>Скидочные карты</h1>
{% endblock %}

{% block content_one %}
<div class="row-fluid">
	<ul class="thumbnails">
        <li class="span6 thumbnail info-block">
    	     <h2>Карта со скидкой 5%</h2>
    	     <p>При заказе на 600 рублей Вы получаете карту с 5% скидкой.</p>
        </li>
	    <li class="span6 thumbnail info-block">
    	     <h2>Карта со скидкой 10%</h2>
    	     <p>Когда общая сумма Ваших  заказов достигнет 7000 рублей, карта с 5% скидкой меняется на карту с 10% скидкой.</p>
        </li>
	</ul>
</div><!--/row-->
{% endblock %}