{% extends "sushi/base.html" %}
{% load staticfiles %}

{% block description %}
<h1>Контакты</h1>
<p>Наш сайт: <a href="/">sushiwhite.ru</a></p>
<p>Группа Вконтакте: <a href="https://vk.com/sushiwhite">sushiwhite</a></p>
{% endblock %}

{% block content_one %}
<div class="row-fluid">
     <ul class="thumbnails">
          <li class="span4 thumbnail info-block">
               <h2>Ночные доставки</h2>
               <p>Север города 8(911)907-61-83</p>
               <p>Юг города 8(911)907-61-42</p>
          </li><!--/span-->
          <li class="span4 thumbnail info-block">
               <h2>ул. Дыбенко д.20 к.1</h2>
               <p>Часы работы: с 10:00 до 23:00</p>
               <p>8(969)723-21-23</p>
               <p>8(969)723-21-24</p>
          </li><!--/span-->
          <li class="span4 thumbnail info-block">
               <h2>ул. Бухарестская д.33 к.1</h2>
               <p>Часы работы: с 10:00 до 23:00</p>
               <p>8(812)242-19-39</p>
               <p>8(953)366-52-44</p>
          </li><!--/span-->
     </ul>
</div><!--/row-->
<div class="row-fluid">
     <ul class="thumbnails">
          <li class="span4 thumbnail info-block">
               <h2>пр. Ветеранов д.55</h2>
               <p>Часы работы: с 10:00 до 23:00</p>
               <p>8(981)773-70-57</p>
               <p>8(981)773-70-62</p>
          </li><!--/span-->
          <li class="span4 thumbnail info-block">
               <h2>ул. Ушинского д.2 к.1</h2>
               <p>Часы работы: с 10:00 до 23:00</p>
               <p>8(812)687-49-77</p>
               <p>8(911)907-39-18</p>
               <p>8(911)907-39-28</p>
          </li><!--/span-->
          <li class="span4 thumbnail info-block">
               <h2>Ленинский пр. д.88</h2>
               <p>Часы работы: с 10:00 до 23:00</p>
               <p>8(981)805-23-14</p>
               <p>8(981)146-01-47</p>
          </li><!--/span-->
     </ul>
</div><!--/row-->
{% endblock %}