{% extends "sushi/base.html" %}

{% block description %}
<h1>Суши White</h1>
<p>Суши White - доставка суши по Санкт-Петербургу. Заказ можно офоормить КРУГЛОСУТОЧНО.</p>
{% endblock %}

{% block content_one %}
<ul class="row-fluid">
	<li class="span4 thumbnail info-block">
	     <h2>Доставка в ночное время</h2>
	     <p>Минимальная сумма заказа в ночное время 1000 рублей + 200 рублей за доставку, при заказе от 1500 рублей доставка бесплатная. Данные условия действуют по всему городу в пределах КАД с 22:30 до 10:00. В остальные районы доставляем по договоренности.</p>
	     <p><a class="btn" href="#">Подробнее &raquo;</a></p>
	</li><!--/span-->
	<li class="span4 thumbnail info-block">
	     <h2>Спецпредложение!</h2>
	     <p>При заказе на 600 рублей РУЧНОЙ РОЛЛ В ПОДАРОК, И КАРТА С 5% СКИДКОЙ. </p>
	     <p><a class="btn" href="#">Подробнее &raquo;</a></p>
	</li><!--/span-->
	<li class="span4 thumbnail info-block">
	     <h2>Отзывы</h2>
	     <p>Вы можете посмотреть отзывы на "Суши White" в группе Вконтакте, а также оставить свой отзыв о нашей доставке. </p>
	     <p><a class="btn" href="#">Группа Вконтакте &raquo;</a></p>
	</li><!--/span-->
</ul><!--/row-->
{% endblock %}

