{% extends "sushi/base.html" %}
{% load staticfiles %}

{% block description %}
<h1>Оформление заказа</h1>
{% endblock %}

{% block content_one %}
<p style="text-align: center"><button>Заказать</button></p>
{% endblock %}