{% extends "sushi/base.html" %}
{% load staticfiles %}

{% block styles %}
<style type="text/css">
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
</style>

<script type="text/javascript">
    function increment(id) {
        var el = document.getElementById(id);
        var current_value = parseInt(el.value);
        if (current_value < 100) {
            el.value = current_value + 1;
        }
    }
    function decrement(id) {
        var el = document.getElementById(id);
        var current_value = parseInt(el.value);
        if (current_value > 0) {
            el.value = current_value - 1;
        }
    }
    function handleInputChange(input) {
        if (input.value < 0) input.value = 0;
        if (input.value > 100) input.value = 100;
    }
</script>
{% endblock %}

{% block description %}
<h1>{{ type_page }}</h1>
{% endblock %}

{% block content_one %}
{% if dishes_divided %}
    {% for dishes in dishes_divided %}
    <div class="row-fluid">
        <ul class="thumbnails">
        {% for dish in dishes %}
            <li class="span3 thumbnail info-block">
                <img src="{% static dish.picture %}" class="center" style="width:260px;height:180px;" />
                <p style="color: #d32f2f"><b>{{ dish.name }}</b></p>
                <p>Цена: <font color="red">{{ dish.price }} рублей</font></p>
                <p>{{ dish.description }}</p>
                {% with dish.id|stringformat:"s" as index %}
                    {% with item_id="dish_"|add:index %}
                        <p>
                            <button class="btn" onclick="decrement('{{ item_id }}')">-</button>
                            <input onchange="handleInputChange(this)" style="max-width: 30px" id="{{item_id}}" value="0">
                            <button class="btn" onclick="increment('{{ item_id }}')">+</button>
                        </p>
                    {% endwith %}
                {% endwith %}
        {% endfor %}
        </ul>
    </div><!--/row-->
    {% endfor %}
{% else %}
    <p>В данный момент таких блюд нет в меню.</p>
{% endif %}
{% endblock %}
