{% extends "sushi/base.html" %}
{% load staticfiles %}

{% block description %}
<h1>Акции</h1>
{% endblock %}

{% block content_one %}
<div class="row-fluid">
	<ul class="thumbnails">
		<li class="span6 thumbnail info-block">
		     <h2>Подарок к  заказу на 600 рублей</h2>
		     <p>При заказе на 600 рублей ручной ролл в подарок, и карта с 5% скидкой.</p>
		</li>
		<li class="span6 thumbnail info-block">
		     <h2>День рождения</h2>
		     <p>При заказе в День Рождения сладкий ролл в подарок. Акция действует при предъявлении паспорта курьеру.</p>
		</li>
	</ul>
</div><!--/row-->
{% endblock %}